@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../src/static/font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../src/static/font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../src/static/font/Montserrat-SemiBold.ttf);
}

body {
    color: black;
    background-color: #A7C7E7;
}


h1, h2, h3, h4{
    font-family: 'Montserrat-Bold';
    font-size: large;
}

h1, h2{
    margin-bottom: 0.35rem;
}
  
h1 {
    font-size: 2.5rem;
    line-height: 3rem;
}
  
h2 {
    font-size: 2rem;
}
  
h3 {
    font-size: 1.75rem;
}
  
h4 {
    font-family: 'Montserrat-Regular';
    font-weight: medium;
    font-size: 1rem;
}

h5 {
    font-family: 'Montserrat-Regular';
    font-size: 1.15rem;
}
  
p, li {
    font-family: 'Montserrat-Regular';
    font-weight: medium;
    font-size: 1rem;
}
  
span {
    font-family: 'Montserrat-SemiBold';
    font-size: 1rem;
}

  
  